<div class="grid grid-cols-1 lg:grid-cols-7 p-12 bg-gray-400 text-white h-fit poppins-semibold">
  <div class="flex flex-col justify-center lg:col-span-3">
    <div class="flex justify-center">
      <div class="w-3/4">
        <p class="text-lg lg:text-xl font-thin uppercase">Our</p>
        <p class="uppercase font-bold text-xl lg:text-3xl">Mission Statement</p>
        <hr class="w-1/4 my-4 border-2">
        <p class="lg:text-lg">
          At Arch Universe, our mission is to deliver exceptional architectural solutions through innovative design, meticulous craftsmanship, and sustainable practices. We are committed to transforming spaces into dynamic environments that reflect our clients' unique visions while contributing to the well-being of communities and the environment. Through collaboration, creativity, and a dedication to excellence, we strive to set new standards in the architectural industry.
        </p>
      </div>
    </div>
  </div>
  <div class="lg:col-span-4 h-full">
    <img src="/assets/4.png"   class="h-content w-full object-scale-down" alt="Exterior Night Image">
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-7 p-12 bg-white text-black h-fit poppins-semibold">

  <div class="lg:col-span-3 h-full">
    <img src="/assets/5.png"   class="h-content w-full object-scale-down" alt="Exterior Night Image">
  </div>

  <div class="flex flex-col justify-center lg:col-span-4">
    <div class="flex justify-center">
      <div class="w-3/4">
        <p class="text-lg lg:text-xl font-thin uppercase">Prime Location & Sophisticated Living</p>
        <p class="uppercase font-bold text-xl lg:text-3xl">Grosvenor</p>
        <hr class="w-1/4 my-4 border-2">
        <p class="lg:text-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam exercitationem deserunt non praesentium, quod quaerat corporis rerum perspiciatis est aliquid vel ea dolorem porro quam adipisci iusto accusantium minus animi?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-7 p-12 bg-gray-900 text-white h-fit poppins-semibold">
  <div class="flex flex-col justify-center lg:col-span-3">
    <div class="flex justify-center">
      <div class="w-3/4">
        <p class="text-lg lg:text-xl font-thin uppercase">Prime Location & Sophisticated Living</p>
        <p class="uppercase font-bold text-xl lg:text-3xl">Grosvenor</p>
        <hr class="w-1/4 my-4 border-2">
        <p class="lg:text-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam exercitationem deserunt non praesentium, quod quaerat corporis rerum perspiciatis est aliquid vel ea dolorem porro quam adipisci iusto accusantium minus animi?
        </p>
      </div>
    </div>
  </div>
  <div class="lg:col-span-4 h-full">
    <img src="/assets/P2.jpg"   class="h-content w-full object-cover" alt="Exterior Night Image">
  </div>
</div>


