<swiper-container
  class="mySwiper bg-[#ebebeb] pt-24 px-2 lg:px-12"
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  space-between="30"
  centered-slides="false"
  [breakpoints]="breakpoints"

>
  <swiper-slide>
    <img
      src="/assets/images/5.jpeg"
      class="object-cover border w-64 h-96 transition-transform rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>
  <swiper-slide>
    <img
     src="/assets/images/4.jpeg"
      class="object-cover border transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="/assets/images/3.jpeg"
      class="object-cover border transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>
  <swiper-slide>
    <img
     src="/assets/images/6.jpeg"
      class="object-cover border transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="/assets/images/7.jpeg"
      class="object-cover border transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>
  <swiper-slide>
    <img
      src="/assets/images/8.jpeg"
      class="object-cover border  transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>

  <swiper-slide>
    <img
     src="/assets/images/9.jpeg"
      class="object-cover border transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>

  <swiper-slide>
    <img
     src="/assets/images/10.jpeg"
      class="object-cover border transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>

  <swiper-slide>
    <img
      src="/assets/images/13.jpeg"
      class="object-cover border  transition-transform w-64 h-96 rounded-xl hover:scale-105"
      alt=""
    />
  </swiper-slide>
</swiper-container>
