<swiper-container
  id="home"
  class="Swiper -m-2 lg:m-0 -z-0"
  loop="true"
  autoplay-delay="7000"
  navigation="true"
  speed="4000"
  [config]="swiperConfig"
  pagination="true"
>

<swiper-slide class="swiperClass">
  <img
    src="/assets/4.png"
    class="h-screen object-cover centered-image w-full"
    alt=""
  />

  <div
    class="absolute bottom-0 transform lg:ml-24 -translate-y-1/2 text-white"
  >
  <p class="hidden md:block text-xl lg:text-4xl font-semibold brightness-100 poppins-semibold">
    Marigat <br> Project

  </p>
  <div class="inline-flex items-center space-x-4 brightness-100">
    <p class="lg:text-xl poppins-semibold"></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="white"
      class="size-10 -mt-1"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
      />
    </svg>
  </div>
  </div>
</swiper-slide>

  <swiper-slide class="swiperClass">
    <div class="h-screen w-screen">
      <img
        src="/assets/1.png"
        alt=""
        class="h-screen object-cover centered-image w-full"
      />
      <div
        class="absolute bottom-0 transform lg:ml-24 -translate-y-1/2 text-white"
      >
      <p class="hidden md:block text-xl lg:text-4xl font-semibold brightness-100 poppins-semibold">
        A Rare<br />
        Investment
      </p>
      <div class="inline-flex items-center space-x-4 brightness-100">
        <p class="lg:text-xl poppins-semibold"></p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          class="size-10 -mt-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          />
        </svg>
      </div>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide class="swiperClass">
    <img
      src="/assets/5.png"
      class="h-screen object-cover centered-image w-full"
      alt=""
    />
    <div
      class="absolute bottom-0 left-10 transform lg:ml-24 -translate-y-1/2 text-white"
    >
      <p class=" hidden md:block text-xl lg:text-4xl font-semibold brightness-100 poppins-semibold">
        Expansive <br />
        Amenities
      </p>
      <div class="inline-flex items-center space-x-4 brightness-100">
        <p class="lg:text-xl poppins-semibold"></p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          class="size-10 -mt-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          />
        </svg>
      </div>
    </div>
  </swiper-slide>


  <swiper-slide class="swiperClass">
    <img
      src="/assets/2.png"
      class="h-screen object-cover centered-image w-full"
      alt=""
    />
    <div
      class="absolute bottom-0 left-10 transform lg:ml-24 -translate-y-1/2 text-white"
    >
    <p class="hidden md:block text-xl lg:text-4xl font-semibold brightness-100 poppins-semibold">
      A Brand With <br />
      Philosophy
    </p>
    <div class="inline-flex items-center space-x-4 brightness-100">
      <p class="lg:text-xl poppins-semibold"></p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="size-10 -mt-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
        />
      </svg>
    </div>
    </div>
  </swiper-slide>
</swiper-container>

